
.essence-block {
  margin: 1em;
  display: inline-block;
  cursor: pointer;

  .essence-container {
    padding: 1em;

    min-height: 80px !important;
    min-width: 80px !important;

    max-height: 80px !important;
    max-width: 80px !important;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
