<ion-header>
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title>Essence Summon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <h1 text-center>Essences ({{ gameState.ref.allEssences.length }}/{{ gameState.ref.maxEssences }})</h1>
      <h6 text-center *ngIf="gameState.ref.canGetNewEssence">
        <em>Next Essence {{ gameState.ref.nextEssenceRecharge | timeago }}</em>
      </h6>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let essence of gameState.ref.allEssences" >
          <app-sprite mask="Essence" [seed]="essence.type" scale="2" slot="start"></app-sprite>
          <ion-label margin-left>
            <h2>{{ essence.type }} Essence</h2>
            <p><em>No Special Attributes</em></p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
