<ion-header>
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title>Essence Summon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <h1 text-center>Essences ({{ gameState.ref.allEssences.length }}/{{ gameState.ref.maxEssences }})</h1>
      <h6 text-center *ngIf="gameState.ref.canGetNewEssence">
        <em>Next Essence {{ gameState.ref.nextEssenceRecharge | timeago }}</em>
      </h6>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col class="essence-block"
                 *ngFor="let essence of gameState.ref.allEssences"
                 (click)="showInformation($event, essence)">

          <div class="essence-container" [ngClass]="['rarity-' + essence.rarity]">
            <app-sprite mask="Essence" [seed]="essence.type" scale="4" slot="start"></app-sprite>
          </div>

        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
