<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Your Hero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <h1>Grandora, the Novice</h1>
    </ion-card-header>

    <ion-card-content>
      <h3>Came into existence on 6/14/2018.</h3>
      <p margin-top>He is level 3.</p>
      <p margin-top>He controls 60 Garches.</p>
      <p margin-top>He has conquered 512 Crawls.</p>
      <p margin-top>He is in his Prime.</p>
    </ion-card-content>

    <ion-card-content>
      <ion-button fill="outline">
        <ion-icon name="infinite" slot="start"></ion-icon>
        Become One With The Aether
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
