<ion-header>
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title>Your Hero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <app-sprite mask="Person" [seed]="gameState.ref.currentHero.seed" scale="4" *ngIf="gameState.ref.currentHero.seed"></app-sprite>

    <ion-card-header>
      <h1 text-center>{{ gameState.ref.currentHero.name }} {{ gameState.ref.currentHero.tier | roman }}</h1>
      <h6 text-center><em>The {{ gameState.ref.currentHero.job }}</em></h6>
    </ion-card-header>

    <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-range disabled
                     color="success"
                     [min]="gameState.ref.currentHero.xp.minimum"
                     [max]="gameState.ref.currentHero.xp.maximum"
                     [(ngModel)]="gameState.ref.currentHero.xp.__current">
          </ion-range>
        </ion-item>

        <ion-item>
          <ion-icon slot="start" name="clock"></ion-icon> Came into existence {{ gameState.ref.currentHero.createdAt | timeago }}
        </ion-item>

        <ion-item>
          <ion-icon slot="start" name="body"></ion-icon> Level {{ gameState.ref.currentHero.level }}
        </ion-item>

        <ion-item>
          <ion-icon slot="start" name="aperture"></ion-icon> {{ gameState.ref.essenceFragments | number }} Essence Fragments
        </ion-item>

      </ion-list>
    </ion-card-content>

    <ion-card-content>
      <ion-button fill="outline" disabled>
        <ion-icon name="infinite" slot="start"></ion-icon>
        Become One With The Aether
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
